<!-- This html is for displaying all the Restaurents in sidebar -->

<div class="page-container">
    <div class="sidebar ">
        <div class="list-items">
            <b><a routerLink="/app-eatnrepeat" routerLinkActive="selected" class="list-item"> EatNRepeat </a></b>
            <b><a routerLink="/app-udipihotel" routerLinkActive="selected" class="list-item"> Udipi Hotel </a></b>
            <b><a routerLink="/app-punjabirasoi" routerLinkActive="selected" class="list-item"> Pujabi Rasoi </a></b>
            <b><a routerLink="/app-sarvanabhavan" routerLinkActive="selected" class="list-item"> Roti Ghar </a></b>
        </div>
    </div>
    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>
</div>